.contentContainer{
    line-height: 1.67;
    cursor: pointer;

    .imgCover{
        height: 105px;
        width: 190px;
        margin: -2px 18px 4px 0;
        position: relative;
        float: left;

        .imgCoverInner{
            width: 100%;
            height: 100%;
            position: absolute;
            top:50%;
            transform: translateY(-50%);

            & img{
                border-radius: 4px;
                object-fit: cover;
                width: 100%;
                height: 100%;
                position: absolute;
                top:50% ;
                left:50%;
                transform: translate3d(-50%,-50%,0);            
            }
        }
    }

    .contentWrapper{
        color: #1a1a1a;
        max-height: 100px;
        margin-top: 16px;

        .content{
            word-break: break-word;
            line-height: 1.6;
            white-space: normal;
        }
        .content:hover{
            color: #646464;
        }

        .btn{
            outline: none;
            cursor: pointer;
            background-color: transparent;
            color:#175199;
            border:none;
            padding:0;
            margin-left: 4px;
            font-size: 14px;

            & span{
                display: inline-flex;
                align-items: center;
            }
        }

        &:hover{
            color: #646464;
        }
        &:hover .btn{
            color: #175199;
        }
        .btn:hover{
            color: grey;
        }
    }




}