

.card {
    padding:20px;
    border-bottom: 1px solid #f0f2f7;
    background-color: #fff;
    display: block;


    .title{
        font-size: 18px;
        font-weight: 600;
        line-height: 1.6;
        color: #1a1a1a;
        margin: -4px,0;
        cursor: pointer;

        & a{
            text-decoration: none;
            color: inherit;
        }
    }

    .title:hover{
        color: #175199;
    }


}